h1{
    font-size: 90px;
    text-align: right;
}

.internet{
    text-decoration: underline;
    text-decoration-color: pink;
    font-size: 150px;

}

.internet:hover{
    position:relative;
    top: -3px;
    left: -3px;
    background-color: rgba(220, 233, 255, 0.655);
}

h3{
    font-size: 35px;
    text-indent: 40px;
}

p{
    font-size: larger;
    text-indent: 40px;
}

.what{
    border-radius: 10px;
    padding: 20px;
    max-width: max-content;
    background-color: rgb(214, 251, 214);

}

.is{
    max-width: max-content;
    padding: 20px;
    background-color: rgb(246, 246, 183);
    border-radius: 10px;
}

.this{
    border-radius: 10px;
    max-width: fit-content;
    padding: 20px;
    background-color: rgb(185, 242, 245);
}

body {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
    text-align: center;
  }
