  
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*inculded in height and width sizing */
}

body{
    color: white;
    background-color: black;
}
 /* Header */


  header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
   /* background-color: rgba(0, 0, 0, 0.464); */
}

h1{
    text-align: center;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 46px;
    margin-bottom: 20px;
}

nav{
    text-align: center;
}

nav ul li{
    display: inline-block;
    border: none;
    font-size: 14px;
   /* text-transform: uppercase; */
    margin: 0 10px;
}

nav a{
    color: rgb(248, 99, 124);
    text-decoration: none;
}

nav a:hover{
    color: rgb(255, 166, 183);
}

html{
    scroll-behavior: smooth;
}

h2{
    padding: 20px;
}

body{
    text-align: center;
}

/* section 1*/

.s1 p {
   color: black;
    background-color:rgb(248, 184, 195);
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    padding:5px;
    box-shadow: 3px 3px rgb(255, 255, 255);
}

/* section 2*/
.s2{
    background-color: rgb(248, 146, 163);
    width: 80%;
    margin: auto;
}

.s2 img{
    padding: 0 30px 10px 30px;
    
}
.s2 h2{
    text-shadow: 2px 2px rgb(0, 0, 0);

}

/* section 3*/
.s3{
    margin: auto;
    width: 70%;
}
.s3 img{
    padding: 10px 30px 10px 30px
}

.s3 p{
    background-color:rgb(195, 195, 195);
    border-radius: 5px;
    color: black;
    padding: 10px;
}